<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h2 class="text">Nome</h2> 
                </th>
                <th>
                    
                </th>
                <th>
                    <h2 class="text">Gestione</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button class="btn" [routerLink]="['../Add']">AGGIUNGI CONSOLE</button>
                </td>
            </tr>
            <tr *ngFor="let cns of consoles">
                <td>
                    <p>{{ cns.name }}</p>
                </td>
                <td>
                    <button class="btn">DETTAGLI</button>
                </td>
                <td>
                    <button class="btn" (click)="delete(cns)">ELIMINA</button>
                    <button class="btn" [routerLink]="['../Edit/'+cns.id]">MODIFICA</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
