<br>
<br>

<div id="CardContainer" class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let gms of bestGames">
            <br>
            <div class="card">
                <img src="assets/{{gms.title}}.jpeg" class="card-img" alt="{{gms.title}}">
                <div class="card-img-overlay">
                    <h4 class="card-title">
                        {{gms.title}}</h4>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>

<br>
<br>
<br>

<div class="row" id="ListRow">

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <div id="List" class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h2 class="text" routerLink="Games/All">Giochi</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gms of showGames">
                        <td>{{ gms.title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <div id='List' class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h2 class="text" routerLink="Consoles/All">Console</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cns of consoles">
                        <td>{{ cns.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-2"></div>

</div>