nav{
    background-image: linear-gradient(315deg, #1c1c1d 0%, #ffffff 74%);
}

.navbar-brand{
    color: #a60f0f;
}


#NavLink{
    color: black;
}

button{
    color: whitesmoke;
}

button:hover{
    color: #a60f0f;
}