.container{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.877), 4px 6px 20px 4px rgba(255, 255, 255, 0.582);
    background-image: linear-gradient(315deg, #1c1c1d 0%, #ffffff 74%);
    border-radius: 10px
}

h2{
    text-align: center;
}

button{
    background-color: white;
    color: #a60f0f;
}

#ERROR{
    color: #a60f0f; 
    margin-top: 10px;
}

form{
    text-align: center;
    margin-left: 30%; 
    margin-right: 30%
}

input{
    text-align: center;
}